.shape{
    margin-bottom: 360px;
}
.shape-flex{
    display: flex;
    justify-content: space-between;
}
.shape_one{
    width: 350px;
    height: 412px;
}
.shape_one:nth-child(2){
    margin-left: 30px;
    margin-right: 30px;
}
.shape_one_heading4{
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
}
.shape_one-text{
    font-family: "Jost";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333136;
}
.shape_pic{
    margin-left: 74px;
}
@media only screen and (max-width: 768px) {
    .shape-flex{
        display: flex;
        flex-direction: column;
    }
    .shape_one{
        display: flex;
        justify-content: space-between;
        width: 682px;
        height: 202px;
    }
    .safe{
        margin-left: -90px;
        margin-right: 48px;
    }
    .safe:nth-child(2){
        margin-left: -9px;
    }
    .safe-text{
        width: 439px;
        height: 120px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .safe-text:nth-child(2){
        margin-left: -12px;
    }
    .shape_one-text{
        text-align: left;
    }
    .shape_pic{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 375px) {
    .shape-flex{
        display: flex;
        flex-direction: column;
    }
    .shape_one{
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 412px;
    }
    .shape_pic{
        margin-left: 140px;
    }
    .safe-text{
        margin-top: -100px;
    }
    .shape_one_heading4{
        margin-top: -50px;
        margin-left: 80px;
    }
    .shape_one-text{
        width: 327px;
        height: 104px;
        text-align: center;
    }
}